button {
    display: block;
    margin: 20px auto;
    background: crimson;
    color: white;
    border: 0;
    padding: 10px 10px;
}

.pop-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 30%;
    max-width: 300%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}

.popup a {
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.pop-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}